@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #fffcf5;
}

main {
  padding: 1rem 4rem;
}

/* Buttons */

.btn {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.4rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #37493d;
  white-space: nowrap;
}

.btn-small {
  padding-block: 0.25rem;
}

.btn-small {
  background-color: transparent;
}

.btn-outline {
  border: 2px solid rgb(80, 179, 80);
  color: rgb(80, 179, 80);
}

.btn-outline2 {
  color: #000;
  background-color: rgb(93, 203, 93);
  border: 2px solid rgb(93, 203, 93);
}

.btn-fixed-width {
  width: 8.5rem;
}

.btn-secundary {
  background-color: #ff9595;
  color: #000;
}

.small-padding-left {
  padding-left: 0.5rem;
}

/* Inputs */

input,
select {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  max-width: 14rem;
  background-color: #eae4d5;
}

input:focus {
  outline: none;
}

.input-accent {
  background-color: #37493d;
  color: #e1bd90;
}

/* Icons */

svg {
  font-size: 16px;
}

.icon-primary {
  color: #e1bd90;
}

.icon-secundary {
  color: #000;
}

/* Flex */

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.column-gap {
  gap: 0.5rem;
}

.no-gap {
  gap: 0;
}

.small-gap {
  gap: 0.4rem;
}

.align-right {
  justify-content: flex-end;
}

.align-bottom {
  margin-top: auto;
}

/* Fonts */

p {
  font-size: 16px;
  line-height: 1;
}

.accent-font {
  color: #e1bd90;
}

.small-font {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #e1bd90;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

/* Toolbar */

.searchbar {
  background-color: #37493d;
  border-radius: 4px;
}

/* Table */

.table {
  background-color: #eae4d5;
  border-radius: 4px;
  min-height: 75vh;
  position: relative;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
  min-width: 62rem;
}

.table-item {
  display: grid;
  grid-template-columns: repeat(6, 4fr) repeat(2, 2.25rem);
  padding: 0.5rem;
  align-items: center;
  justify-items: center;
  grid-gap: 0.5rem;
}

.table-head {
  background-color: #37493d;
  border-radius: 4px 4px 0 0;
}

.table-row {
  border-bottom: 1px solid #ccc;
}

.table-footer {
  padding: 0.3rem 1rem;
}

/* Modal */

.modal-container {
  background-color: #0005;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20rem;
  transform: translate(-50%, -50%);
  background-color: #fffcf5;
  border-radius: 8px;
  padding: 2rem;
}

/*Ant Design*/
/*Select*/

.ad-select {
  background-color: #fffcf5;
}

/*Dropdown*/

.date-dropdown {
  background-color: #fffcf5;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  /* width: 22.5rem; */
  width: 16.5rem;
  text-align: center;
}

.status-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fffcf5;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

/*Pickers*/

.table-picker {
  background-color: #fffcf5;
  border: 1px solid #37493d51;
}

.table-picker-popup > div > div {
  background-color: #fffcf5;
}

.form-picker {
  background-color: #eae4d5;
  border: none;
}

.form-picker-popup > div > div {
  background-color: #fffcf5;
}

/*Estado*/

.citado {
  background-color: rgb(93, 203, 93);
}

.pendiente {
  background-color: rgb(201, 203, 93);
}

.encurso {
  background-color: rgb(107, 102, 201);
}

.completado {
  background-color: rgb(183, 183, 183);
}

.cancelado {
  background-color: rgb(206, 106, 106);
}

* {
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar h3 {
  border: 2px solid #a27e40;
  border-radius: 0.45rem;
  padding: 10px 10px;
  color: #365334;
  margin: 15px;
}

.nav-bar div {
  font-family: "Inter", sans-serif;
  margin: 15px;
  display: flex;
  gap: 2rem;
}
.nav-bar a {
  text-decoration: none;
  color: #37493d;
}

.nav-bar span {
  color: black;
  font-weight: 800;
}

.hero-section {
  background: rgb(233, 187, 130);
  background: linear-gradient(90deg, rgba(233, 187, 130, 1) 0%, rgba(233, 211, 184, 0.8240546218487395) 95%);
}

.hero-container {
  display: flex;
}
.hero-text-container {
  margin: 10% 0 10% 10%;
}

.hero-text-container h1 {
  color: #365334;
  font-size: 4.5rem;
}

.hero-text-container h4 {
  font-family: "Inter", sans-serif;
  padding: 0 2=0% 0 0;
  margin-block: 5%;
  font-size: 1.2rem;
  color: #243329;
}

.hero-container img {
  transform: translateY(4%);
  margin-left: 20%;
  object-fit: cover;
}

.green-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 0.6rem;
  height: 2.7rem;
  width: 9rem;
  border: none;
  margin-top: 1rem;
  border-radius: 2rem;
  background-color: #37493d;
  color: azure;
}

.servicios-section {
  margin: 5% 13%;
}

.servicios-title {
  font-family: "Inter", sans-serif;
  color: #365334;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 5%;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  z-index: 100;
}

.carousel-inner {
  font-family: "Inter", sans-serif;
  display: flex;
}

.carousel-item {
  margin: 1rem 3.2rem;
  min-width: 25%;
  max-height: 27rem;
  border-radius: 10px;
  background: rgb(233, 187, 130);
  background: linear-gradient(90deg, rgba(233, 187, 130, 1) 0%, rgba(233, 211, 184, 1) 95%);
  -webkit-box-shadow: 8px 3px 13px 1px rgba(0, 0, 0, 0.31);
  box-shadow: 8px 3px 13px 1px rgba(0, 0, 0, 0.21);
}

.carousel-item p {
  padding: 1rem;
}

.carousel-item h3 {
  margin: 1rem;
}

.carousel-item img {
  width: 100%;
  height: 47%;
  object-fit: cover;
  pointer-events: none;
}

.about-us-section {
  position: absolute;
  z-index: -100;
  transform: translateY(-15rem);
}

.about-us-section img {
  object-fit: cover;
  max-width: 100%;
  filter: brightness(50%);
}

.about-us-section h2 {
  position: absolute;
  top: 0;
  margin: 13rem;
}

.about-us-content {
  font-family: "Inter", sans-serif;
}

.about-us-content h2 {
  font-size: 3rem;
  padding: 0 10% 0 0;
  color: white;
}

.about-us-content h3 {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 39%;
  left: 12%;
}

.about-us-content p {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 45%;
  left: 12%;
  padding-right: 50%;
}

.primary-button {
  position: absolute;
  top: 55%;
  left: 12%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 0.6rem;
  height: 2.7rem;
  width: 9.2rem;
  border: none;
  margin-top: 1rem;
  border-radius: 2rem;
  background-color: #e1bd90;
  color: #434343;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer-left h3 {
  border: 2px solid #a27e40;
  border-radius: 0.45rem;
  padding: 10px 10px;
  color: #365334;
  margin: 20px 10vw;
  text-align: center;
}

.footer-left p {
  border-radius: 0.45rem;
  padding: 10px 10px;
  color: #365334;
  margin: 20px 10vw;
}

.footer-right {
  font-family: "Inter", sans-serif;
  display: flex;
  margin: 20px 8vw;
}

.footer-right ul {
  list-style: none;
}

.footer-right ul li {
  margin: 10px;
}

.floating-form {
  position: fixed;
  top: 50%;

  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 26%;
}

.floating-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floating-form h2 {
  margin-bottom: 20px;
}

.floating-form form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.floating-form form div input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.floating-form form button:hover {
  background: #555;
}

.floating-form button {
  width: 200px;
}
